.Select-Genre{
    border-radius:36px;
    display:inline-block;
    overflow:hidden;
    background:#ffffff;
    border:1px solid #ffffff;
    padding-right: 0px;
    width: 150px;
    height: 35px;

}
#test{
    padding-right: 500px;
}

.Search-Movie{
    width: 400px;
    border-radius:36px;
    position: relative;
    background:#ffffff;
    border:1px solid #ffffff;
    height: 35px;
}
.Select-Text{
    color:white;
    padding-left: 10px;
    padding-right: 5px;
}

.fixed-top {
    padding-top: 0px;
    padding-bottom: 0px;
}
